/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*          Starting with floats and clearfix
*/

.floatleft {
    float: left;
}
.floatright {
    float: right;
}
.clearfix::after {
    content: " ";
    overflow: auto;
    display: block;
    clear: both;
}

/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*          Flexbox footer solution?
*/

html, body {
    height: 100%;
  }
  body {
    display: flex;
    flex-direction: column;
  }
  .content {
    flex: 1 0 auto;
  }
  .footer {
    flex-shrink: 0;
  }

/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*           HTML tags
 */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: solid 2px #cccccc;
    background-color: #ffffff;
    clear: both;
}
footer {
    height: 75px;
    width: 100%;
    margin: 0;
    text-align: center;
    background-color: #666666;
    border-top: #4aaaa5 solid 8px;
    z-index: 1; 
}
img {
    padding: 8px 30px 20px 0;
    clear: both; 
}
a { text-decoration: none; 
}
h1 { 
    margin: 0; 
}
h3 {
    margin-top: 0;
}
p {
    margin-top: 0;
    padding: 0 5px 5px 5px;
    font-size: 20px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    line-height: 30px;
    letter-spacing: 1px;
}

/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*                      Custom Containers
 */
.containerone {
    width: 960px;
    margin: 0 auto;
    /* clear: both; */
    z-index: 3;
}
.containertwo {
    width: 960px;
    margin: 175px auto 100px auto;
    padding: 10px 30px 30px 30px;
    border: 1px solid #dddddd;
    background-color: #ffffff;
    z-index: 2;
}

/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*              Custom Paddings / Margins / Border
 */
 .bordermenuleft {
    border-left: 1px solid #dddddd;
    border-left-style: 50%;
    overflow: hidden;
    margin-left: 20px;
    margin-top: 20px;
    padding-top: 10px;
}
.bordermenuright {
    border-right: 1px solid #dddddd;
    border-right-style: 50%;
    overflow: hidden;
    margin-right: 20px;
    padding-top: 10px;
}

.paddingall10 {
    padding: 10px;
    margin-top: 25px;
}
.paddingbottom20 {
    padding-bottom: 20px;
}
.texttobottom {
    margin-top: 50px;
}
.margintopbottom {
    margin-top: 20px;
    margin-bottom: 35px;
}
.bottomborder {
    border-bottom: 3px solid #dddddd;
}

/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*                      Custom Fonts
 */

 .notextdecoration {
    text-decoration: none;  
}
.headerfont {
    font-family: 'Georgia', Times, Times New Roman, serif;
}
.mainfont {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}
.yourname {
    background-color: #4aaaa5;
    color: white;
    padding: 30px;
}
.tealtext {
    color: #4aaaa5;
}

/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*                      -
 */

 .textbox1 {
     width: 100%;
     height: 30px;
     display: block;
 }
 #textarea1 {
     width: 100%;
     height: 200px;
     display: block;
 }
.displayimage {
    display: image;
}

button {
    background-color: #4aaaa5;
    color: white;
    padding: 8px 24px;
    margin-top: 10px;
}

/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*                   PORTFOLIO PAGE    -
 */



.picturerelativebanner {
    position: relative;
    float: left;
    width: 250px;
    height: 300px;
    margin-right: 100px;
}
.tealbanner {
    position: absolute;
    top: 150px;
    background-color: #4aaaa5;
    height: 60px;
    width:  300px;
    padding-top: 20px;
    text-align: center;
    color: white;
    font-size: 30px;
    
    
}


/*~~~~~~~~~~~~~~~~~~~END~~~~~~~~~~~~~~~~~ */
