/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*          Starting with floats and clearfix
*/
*, *::after, *::before {
    box-sizing: border-box;
}
.floatleft {
    float: left;
}
.floatright {
    float: right;
}
.clearfix::after {
    content: " ";
    /* overflow: auto; */
    display: block;
    clear: both;
}
* {
  box-sizing: border-box;
}

/* .absoluteposition {
    position: absolute;
}
.customrelativeposition {
    position: relative;
    top: 0;
    left: 0;
} */
.fixednameposition {
    position: fixed;
    top: 0;
    right: 1200px;
}

/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*              HTML tags
 */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: solid 2px #cccccc;
    background-color: #ffffff;
    /* margin-bottom: 100px; */
    /* clear: both; */
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 75px;
    width: 100%;
    text-align: center;
    background-color: #666666;
}

img {
    padding: 0 25px 25px 0; }

a { text-decoration: none; }

p {
    padding: 5px;
    font-size: 6;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777; 
}


/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*                      Custom Containers
 */
.containerone {
    width: 960px;
    margin: 0 auto;
}
.containertwo {
    border: 1px solid #dddddd;
    background-color: #ffffff;
    width: 960px;
    padding: 10px 30px 30px 30px;
    margin: 175px auto 0 auto;
}


/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*                      Custom Fonts
 */
.headerfont {
    font-family: 'Georgia', Times, Times New Roman, serif;
}
.mainfont {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}
.yourname {
    background-color: #4aaaa5;
    color: white;
    padding: 30px;
}
.tealtext {
    color: #4aaaa5;
}

/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*              Custom Paddings / Margins / Border
 */
 .tabsborder {
    border-left: 1px solid #dddddd;
    border-right: 1px solid #cccccc;
    margin: 0 10px;
    padding: 10px 20px 10px 20px;
}
.padding10 {
    padding: 10px;
}
.paddingtop35 {
    padding: 35px;
}
.bottomborder {
    border-bottom: 3px solid #dddddd;
}
.paddingbottom20 {
    padding-bottom: 20px;
}
.notextdecoration {
    text-decoration: none;  
}

/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*                      Custom trim
 */
 .tealtrim {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 85px;
    background-color: #4aaaa5;
}